JWT_SECRET_KEY=replace_with_random_secret_at_least_32_bytes
GOOGLE_MAPS_API_KEY=replace_with_google_static_maps_api_key
GOOGLE_MAPS_ROUTES_API_KEY=replace_with_google_routes_api_key
NAVITIME_RAPID_API_KEY=replace_with_navitime_rapidapi_key
DB_HOST_USERNAME=replace_with_database_username
DB_HOST_PASSWORD=replace_with_database_password
